/* body è un selettore*/
/*tutte le righe devono finire con "punto e virgola" */

body{
color: black;
 font-family: 'HalyardDis_ISIAU Bk', Arial, sans-serif; /* se il nome della font ha più di una parola va messo tra virgolette*/
 font-size: 28px; 
}
/* commenti */
/* il colore messo nel body comanda su tutta la pagina web */


/*h2 {
    color: #ff0000;
    color: rgba(red, green, blue, alpha) per mettere la trasparenza nella 4 casella 
}*/ 

/* ogni riga di proprietà va chiusa con ;   */

a{
border-bottom: 1px solid black; /*shorthand*/
   /* text-decoration: overline;  togliere la sottolineatura del link */
   text-decoration: none;
}

a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;

} /* per modificare i link quando il cursore viene messo sopra */


a:visited {
    color: rgb(0, 0, 0);
    text-decoration: line-through;
} /* quando visiti un link poi cambia colore*/
/*
h4{
    font-style: italic;
}
p{
    font-family: 'HalyardDis_ISIAU Bk';
    font-size: 28px;
}*/